/* All sizes */

.row>.col, .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .row>.col, .row>[class^=col-] {
        background-color: rgba(231, 78, 18, 0.815);
        border: 1px solid rgba(96, 29, 196, 0.2);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .row>.col, .row>[class^=col-] {
        background-color: rgba(143, 129, 5, 0.15);
        border: 1px solid rgba(60, 14, 129, 0.2);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .row>.col, .row>[class^=col-] {
        background-color: rgba(75, 28, 28, 0.836);
        border: 1px solid rgba(58, 31, 99, 0.2);
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .row>.col, .row>[class^=col-] {
        background-color: rgba(34, 32, 37, 0.15);
        border: 1px solid rgba(40, 38, 43, 0.2);
    }
}

