body { font: 100% Helvetica, sans-serif; color: blue; }

h1 { color: blue; }

p { background-color: red; }

nav ul { margin: 0; padding: 0; list-style: none; }
nav li { display: inline-block; }
nav a { display: block; padding: 6px 12px; text-decoration: none; }

.box { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(30deg); }
