h1 {
    color: red !important;
    text-align: center;
}

div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#div1 {
    background-color: aqua;
}

#div2 {
    background-color: violet;
}

#span1 {
    background-color: burlywood;
}