.liste {
    margin: 10px;
    padding: 10px;
    background-color: #dfe3e6;
    border-radius: 3px;
}

.liste h2 {
    font-size: 3vw;
    line-height: 24px;
    margin: 0 0 8px;
    padding: 5px;
}

.w3-card {
    cursor: pointer;
}

.tasks {
    padding: 1vw;
}

.task-content {
    display: none;
}
