$font-stack:    Helvetica, sans-serif;
$primary-color: blue;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
    color: $primary-color;
}

@import 'snip';


nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
}

@mixin transform($property, $prop2) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $prop2;
}
  
.box { @include transform(rotate(60deg), rotate(30deg)); }