@font-face {
  font-family: avenirNext;
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirNext;
  src: url(fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: avenirNext;
  src: url(fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: avenirNext;
  src: url("fonts/AvenirNextLTPro-It.otf");
  font-style: italic, oblique;
}

body, html {
  height: 100%;
  font-family: avenirNext;
}

.contact {
  font-weight: bold;
  text-transform: uppercase;
}

.bg1 {
  /* Hauteur pleine */
  height: 100%;
}

.bg2 {
  background-color: #221876;
  height: 100%;
}

h1, h2 {
  text-align: center;
  color: #e93b00;
  font-weight: 600;
}

.title {
  height: 100%;
}

.title h1 {
  /*margin-top: 100px;*/
  max-width: 800px;
}