body {
  margin: 30px auto;
  text-align: center;
  background-color: #161414;
  color: #999;
  font-family: Helvetica, sans-serif;
}
#board {
  margin: auto;
  border: 1px solid #000;
  padding-top: 20px;

  position: relative;
  background-color: black;
  background-repeat:no-repeat;
  background-position: center center;
  color:#FFF;
  min-height:100%;

  border: 1px solid #222;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,1);
  border-radius: 10px;
}
